<%= form_for article, html:{ class: 'h-50' } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group h-50">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-outline-secondary' %>
<% end %>
